* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  color: white;
  font-family: "Cinzel Decorative", serif;
}

.logo {
  width: 300px;
  height: auto;
  animation: aparecer 1s ease-out forwards;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 215, 0, 0.3);
  border-top-color: gold;
  border-radius: 50%;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
