/* BODY con fondo transparente */
body {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Cinzel Decorative", serif;
}

/* GRID */
.contenedor-canciones {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}

/* BARRA LATERAL */
.barra-lateral {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  padding: 5px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 8px;
  /* scroll transparente */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.barra-lateral::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
.barra-lateral::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.barra-lateral::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 215, 0, 0.6);
}

/* BOTONES */
.barra-lateral button {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 215, 0, 0.4);
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Cinzel Decorative", serif;

  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.barra-lateral button.activo {
  background: rgba(255, 215, 0, 0.6);
  color: black;
  font-weight: bold;
  border: 1px solid gold;
}

.barra-lateral button:hover {
  background: rgba(255, 215, 0, 0.4);
  color: black;
}

/* VISOR DE VIDEO */
.visor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visor iframe {
  width: 75%;
  height: 100%;
  border: none;
  border-radius: 2px;
}
