/* === Estilos generales === */
body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", serif;
  background: url("../img/fondo_epico.jpg") no-repeat center center / cover;
  backdrop-filter: blur(1px);
  color: #f5f5f5;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
  font-size: 2.8rem;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

p {
  width: 85%;
  width: 900px;
  margin: 20px auto;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
