body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", serif;
  background: transparent;
  color: white;
  height: 100vh;
  overflow: hidden;
}

/* GRID principal */
.contenedor-cronicas {
  display: grid;
  grid-template-columns: 210px 1fr;
  height: 100vh;
}

/* ==== BARRA LATERAL ==== */
.lateral {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

button {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 215, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  cursor: pointer;
  transition: 0.3s;
}

button.activo {
  background: rgba(255, 215, 0, 0.6);
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

.lateral::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.lateral::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* ==== CONTENIDO DERECHA ==== */
.contenido {
  padding: 40px;
  overflow-y: auto;

  background: rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(255, 215, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Titulo dinámico de cada historia */
.contenido h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
  color: gold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

/* Texto de la historia */
.contenido p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  text-align: justify;

  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 1px solid rgba(255, 215, 0, 0.35);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
