/*------------
   CANCIONES
------------*/

/* GRID DE CUADRADOS PARA CANCIONES */
.grid-canciones {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 5px;
}

/* CADA CUADRO */
.cuadro {
  width: 100%;
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 215, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

/* IMÁGENES DE LOS CUADROS */
.cuadro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  pointer-events: none;
  border-radius: 6px;
}

/* TÍTULO SOBRE LA IMAGEN */
.titulo-cuadro {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  padding: 4px;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background: rgba(0, 0, 0, 0.6);

  border-radius: 0 0 6px 6px;
}

/*-----------------------
   VISOR DE VIDEO
------------------------*/

.visor-cancion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 10px;
}

.visor-cancion iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 10px;
}

/* Botón volver */
#btnVolverCanciones {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 215, 0, 0.4);
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Cinzel Decorative", serif;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
