/* GRID + FONDO */
body {
  background-image: url("./img/logoFondo.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;

  background-attachment: fixed;

  font-family: "Cinzel Decorative", serif;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas:
    "header"
    "main";
}

/* HEADER */
header {
  grid-area: header;
  padding-top: 10px;
  background-image: url("./img/titulo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  grid-area: main;
}

/* ===== CONTENEDOR GENERAL ===== */
.galeria-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  gap: 40px;
}

/* ===== IMAGEN GRANDE ===== */
.imagen-grande {
  width: 100%;
  max-width: 900px;
  max-height: 70vh;

  margin: 0 auto;
  object-fit: contain;

  backdrop-filter: blur(6px);
  border: 10px solid transparent;
  border-radius: 12px;

  box-shadow: 0 0 14px rgba(0, 0, 0, 0.9);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen-grande:active {
  transform: scale(0.98);
}

/* ===== BOTONERA ===== */
.botonera {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* ===== BOTONES GRANDES ===== */
.botonera button {
  padding: 18px 36px;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.12);
  border: 2px solid rgba(255, 215, 0, 0.7);

  color: white;
  font-family: "Cinzel Decorative", serif;
  font-size: 20px;
  letter-spacing: 2px;

  cursor: pointer;
  backdrop-filter: blur(6px);
  transition: 0.2s ease;
}

.botonera button:active {
  transform: scale(0.95);
  background: rgba(255, 215, 0, 0.25);
}
