/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GRID + FONDO */
body {
  background-image: url("./img/logoFondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  width: auto;
  height: 100vh;
  font-family: "Cinzel Decorative", serif;

  display: grid;
  grid-template-rows: 120px 35px 1fr 40px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* HEADER */
header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logo {
  height: auto;
  width: 100%;
  object-fit: contain;
  opacity: 0.9;
}

/* NAV */
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 900;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 4px;
  transition: 0.3s ease;
}

nav a:hover {
  color: gold;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.8);
}

/* MAIN */
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Seccion CANCIONES */
.barra-seccion {
  margin-top: 25px;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-top: 1px solid rgba(255, 215, 0, 0.25);
  border-bottom: 1px solid rgba(255, 215, 0, 0.25);

  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;

  transition: 0.3s;
}

.barra-seccion:hover {
  color: gold;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.8);
}

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}
