/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GRID + FONDO */
body {
  background-image: url("./img/logoFondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-family: "Cinzel Decorative", serif;
  display: grid;
  grid-template-rows: 120px 35px 1fr 40px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* HEADER */
header {
  grid-area: header;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logo {
  height: auto;
  width: 100%;
  object-fit: contain;
  opacity: 0.9;
}

/* NAV */
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 900;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 4px;
}

/* MAIN */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 14px;
}

/* Introduccion */
.intro-texto {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.9;
  letter-spacing: 0.5px;
  margin-top: 10px;

  /* Borde negro alrededor del texto */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* BARRA SECCIÓN CANCIONES */
.barra-seccion {
  width: 100vw;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.1);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;

  position: sticky; /* ← SE QUEDA PEGADA */
  top: 0; /* ← Se pega arriba */
  z-index: 999; /* ← Pasa por encima de todo */
}

/* GRID DE CUADRADOS PARA CANCIONES */
.grid-canciones {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 12px;
  margin-top: 5px;
}

/* CADA CUADRO */
.cuadro {
  width: 100%;
  aspect-ratio: 1/1; /* cuadrado perfecto */
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 215, 0, 0.4);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}
